.ps-account-zipcode-form {
    FORM {
        LABEL {
            text-align: left;
        }
    }
    .sign-up-option, .default-location-option {
        ul {
            list-style: none;
            margin: 0px;
        }
        text-align: center;
    }
}